/* la modificacion que le damos es que el fondo que abarca el body
    se de color qu eespecifiquemos, esto lo podemos hacer con di
    o de diferentes maneras
body{
    background-color: blueviolet;
}
*/

.fondocolor {
    height: 200px;
    background: url('alavioncomprimed.jpg');
    /*Llamamos la imagen por medio de un ulrl*/
    background-color: black;
    /*Si la imagen no aparece o no carga, o no aparece por completa, aparecera un fondo color negro*/
    background-size: cover;
    /*Hacemos que la imagen alcanze completamente el ancho de la pagina*/
    background-repeat: no-repeat;
    /*Le decimos que no se repita, ya que si es una imagen pequeña o la hacemos pequeña puede aparecer reptida*/
    background-position: center;
    /*Centramos la imagen que esta de fondo*/
}

a {
    text-transform: uppercase;
    /*Podemos decirle si seratodo mayuscula o minuscula etc*/
    font-size: 50px;
}

a:hover {
    /*Este selector hace que cuando el puntero pasa sobre las letras, hace un efecto*/
    text-decoration: none;
    /*Le decimos que el texo tenga un subrayado o una decoracion, tachado etc .*/
    background-color: black;
    /*Hace que el fondo sea negro cuando el puntero pasa sobre el texto*/
    color: white;
    /*El texto de la fuenta cuando pasa el cursos, se vuelve blanco*/
}

article {
    text-align: center;
    /*Le decimos el margen del texto si quiere derecha, izquierda, centroo, justificado*/
    font-size: 2em;
    /*Le damos tamaño a la letra y usamos em por que su medida es relativa al tamaño
     de letras que tenga el contenedor donde este para sacar la medida del em, se divide los pixeles que se quiere poner y lo 
    dividimos entre el tamaño del texto que tiene el body en este caso es 16 si tenemos un elemento en
    un contenedor y queremos que la medida sea tomada del body usamos REM*/
    font-family: Arial, Helvetica, sans-serif;
    /*Le decimos el tipo de letra, arial o lo que queramos*/
    font-style: italic;
    /*Podemos modificar el estilo del texto*/
    letter-spacing: 10px;
    /*Espaciado de las letras*/
    line-height: 50px;
    /*Espaciado entre las lineas.*/
}

h1 {
    text-align: center;
    color: teal;
}